{
  "typescript": {
    "indentSize": 2,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 80,
    "semi": true,
    "strict": true,
    "noImplicitAny": true,
    "strictNullChecks": true,
    "strictFunctionTypes": true,
    "strictBindCallApply": true,
    "strictPropertyInitialization": true,
    "noImplicitThis": true,
    "alwaysStrict": true,
    "noUnusedLocals": true,
    "noUnusedParameters": true,
    "noImplicitReturns": true,
    "noFallthroughCasesInSwitch": true,
    "esModuleInterop": true,
    "experimentalDecorators": true,
    "emitDecoratorMetadata": true
  },
  "javascript": {
    "indentSize": 2,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 80,
    "semi": true
  },
  "jest": {
    "testMatch": ["**/*.test.ts"],
    "collectCoverage": true,
    "coverageThreshold": {
      "global": {
        "branches": 80,
        "functions": 80,
        "lines": 80,
        "statements": 80
      }
    }
  }
} 